/*COLORS*/
$main-color-50: #E3F2FD;
$main-color-100: #BBDEFB;
$main-color-300: #64B5F6;
$main-color-600: #1E88E5;
$main-color-800: #1565C0;

$yellow-50: #fdfbe6;
$yellow-100: #fbf3c1;
$yellow-500: #f1d837;
$yellow-600: #eec632;
$yellow-700: #ebb02c;

$black-50: #fbfaff;
$black-100: #f6f7fb;
$black-200: #f1f1f5;
$black-300: #e4e5e9;
$black-400: #C2C2C6;
$black-500: #a3a4a8;
$black-700: #65666a;
$black-900: #252528;

$white-30: rgba(255, 255, 255, 0.3);
$white-50: rgba(255, 255, 255, 0.5);
$white-70: rgba(255, 255, 255, 0.7);
$white-90: rgba(255, 255, 255, 0.9);
$white-100: #ffffff;

$error-50: #feebee;
$error-100: #fecdd1;
$error-500: #ef4434;

$attention-50: #fff3e0;
$attention-100: #ffdfb1;
$attention-500: #ff9400;

$success-50: #E8F5E9;
$success-100: #C8E6C9;
$success-500: #4CAF50;

$triadic1-50: #F3E5F9;
$triadic1-100: #D0C1F2;
$triadic1-500: #9717CD;
$triadic1-800: #5B13B9;

$triadic2-50: #DEF5F5;
$triadic2-100: #AEE7E6;
$triadic2-500: #00AFB9;
$triadic2-800: #007779;

$triadic3-50: #FBE4EE;
$triadic3-100: #F6BBD4;
$triadic3-500: #E8176F;
$triadic3-800: #AB1360;
