@import "color";

.mark-list {
  margin: 16px 0;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 8px;
}

.mark-item {
  background: $main-color-50;
  border: 1px solid $main-color-800;
  border-radius: 4px;
  padding: 8px 8px 8px 16px;
  display: flex;
  align-items: center;
  column-gap: 4px;

  .icon {
    width: 16px;
    height: 16px;
    background-color: $black-700;
    cursor: pointer;
  }
}
