.form {
  &-container {


    .btn-container {
      display: none;
      align-items: center;
      position: absolute;
      right: 0;
      top: 0;
      z-index: 1;
      gap: 10px;

      .control-btn {
        width: 30px;
        height: 30px;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;

        .icon {
          width: 20px;
          height: 20px;
        }

        &:hover {
          .icon {
            background: #fff;
          }

          &.delete {
            background: #ab2424;
          }

          &.edit {
            background: #d07509;
          }
        }
      }
    }

    .control-settings {
      display: block;
    }
  }

  &-control {
    box-shadow: 0 0 7px 0px rgb(0 0 0 / 24%);
    overflow: hidden;
    border-radius: 5px;
    padding: 10px;
    width: 100%;
    background: #fff;
    position: relative;

    &-list {
      min-width: 60vw;
      min-height: 80vh;
      border: 2px dashed silver;
      border-radius: 10px;
      display: flex;
      flex-direction: column;
      gap: 10px;
      transition: 0.3s;

      &-item {
        position: relative;
        transition: 0.5s;

        &:hover {
          .btn-container {
            display: flex;
          }
        }
      }

      &.noEmpty {
        border-color: transparent;
      }
    }

    .pdf-controls {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 8px;
      position: absolute;
      right: 40px;
      bottom: 40px;

      .zoom-btn {
        width: 40px;
        height: 40px;
        display: flex;
        align-items: center;
        justify-content: center;
        border: 2px solid #babac0;
        border-radius: 8px;
      }

      .icon {
        width: 24px;
        height: 24px;
        border: 1px solid silver;
        cursor: pointer;
        background: #272727;
      }
    }

    &__label {
      display: flex;
      margin-bottom: 10px;
      font-weight: 700;
      align-items: center;
      gap: 8px;
      text-align: left;

      .icon-help-circle {
        width: 20px;
        height: 20px;
        background: #343A40;
        cursor: pointer;
      }
    }
  }
}
