<div class="table-container">
  <table class="params-table" [border]="1">
    <tr>
      <td class="th" *ngFor="let th of tableData.columns; let ii = index">
        <input class="edit-cell" [(ngModel)]="th.colName" (input)="log($event)">

        <mat-icon class="col-menu" (click)="openColMenu(th, $event)" type="button" cdkOverlayOrigin
                  #trigger="cdkOverlayOrigin">menu
        </mat-icon>

        <ng-template
          cdkConnectedOverlay
          [cdkConnectedOverlayOrigin]="trigger"
          [cdkConnectedOverlayOpen]="th.isOpen">
          <ul class="menu-list" appOutsideClick (clickOutside)="th.isOpen = false">
            <li (click)="addCol(ii, 0)">{{ 'Добавит столбец с лева' }}</li>
            <li (click)="addCol(ii, 1)">{{ 'Добавит столбец с права' }}</li>
            <li (click)="deleteCol(ii)">{{ 'Удалить столбец' }}</li>
          </ul>
        </ng-template>
      </td>
      <td>
      </td>
    </tr>

    <tr *ngFor="let row of tableData.rows; let i = index">

      <td *ngFor="let td of row">
        <input class="edit-cell" [(ngModel)]="td.value" (input)="log($event)">
      </td>
      <td>
        <mat-icon [title]="'DELETE_ROW'" (click)="deleteRow(i)">delete</mat-icon>
      </td>
    </tr>
  </table>
</div>
<button style="margin-bottom: 20px;" (click)="addRow()" class="add_row">
  {{'Добавит новую строку в таблицу' }}
  <mat-icon>add_circle_outline</mat-icon>
</button>
